.App {
	text-align: center;
}

.task {
	font-size: 25px;
	color: blue;
	background-color: grey;
	width: 40%;
	margin: auto;
}

.completed {
	font-size: 15px;
	color: red;
	background-color: yellow;
	text-decoration: line-through;
}
