.App {
	text-align: center;
	height: 100vh;
	background-image: url(/static/media/notebookpaper.1b54c11f.jpg);
	background-size: cover;
	background-color: slateblue;
}

.header {
	display: flex;
	align-items: baseline;
	width: 69%;
	margin: auto;
	justify-content: space-between;
	position: relative;
	top: 71px;
}

h1 {
	font-size: 50px;
}

.todo-form {
	margin-top: 96px;
	margin-bottom: 60px;
	font-size: 50px;
	display: flex;
	justify-content: flex-start;
	margin-left: 191px;
}
.todo-list {
	background-color: grey;
	width: 80%;
	margin: auto;
	box-shadow: 5px 5px 5px;
	position: relative;
	left: 62px;
}

.task {
	font-size: 25px;
	color: blue;
	width: 96%;
	height: 50px;
	margin: auto;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid white;
	margin: 15px auto;
	box-shadow: 3px 3px 3px;
}

.completed {
	text-decoration: line-through white 5px;
}

.todo-button {
	width: 100px;
	height: 30px;
	color: white;
	background-color: black;
}

.todo-button:hover {
	box-shadow: 2px 2px 5px;
}

.delete-button {
	margin-top: 30px;
	box-shadow: 2px 2px 2px black;
	font-size: 25px;
	color: papayawhip;
	background-color: purple;
}

.delete-button:hover {
	color: purple;
	background-color: papayawhip;
}
